@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
}

.background-container video {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

nav {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
    margin-bottom: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 92vh;
}

.info {
    margin-top: auto;
}

.info h2 {
    font-family: 'Orbitron', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 10px black;
    letter-spacing: 2px;
    margin: 10px 0;
}

.info .btn {
    background: rgba(240, 240, 240, 0.6);
    font-size: 1.5rem;
    border: 4px white unset;
    color: black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 10px;
}

.btn {
    cursor: pointer;
}

.hide {
    display: block;
    opacity: 0;
}

